<div class="calculator">
  <form>
    <div class="input-group">
      <h1 style="align-items: center;">CALCULATOR</h1>
      <br>
      <label for="num1">Número 1:</label>
      <br>
      <input type="number" name="num1" [(ngModel)]="num1">
    </div>
    <div class="input-group">
      <label for="num2">Número 2:</label>
      <br>
      <input type="number" name="num2" [(ngModel)]="num2">
    </div>
    <br>
    <div class="button-group">
      <button (click)="somar()">+</button>
      <button (click)="subtrair()">-</button>
      <button (click)="multiplicar()">x</button>
      <button (click)="dividir()">/</button>
      <button (click)="zerar()">Limpar</button>
    </div>
    <div class="input-group">
      <br>
      <label for="resultado">Resultado:</label>
      <br>
      <input type="number" name="resultado" [value]="resultado" readonly>
    </div>
  </form>
</div>
